<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">
<body>
<div layout:fragment="content">
  <h1>Detalles del Estudiante</h1>
  <h3>¿Está seguro que desea eliminar este registro?</h3>
  <hr/>
  <dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10" th:text="${estudianteGrupo.id}"></dd>

    <dt class="col-sm-2">Estudiante</dt>
    <dd class="col-sm-10" th:text="${estudianteGrupo.estudiante.nombre}"></dd>

    <dt class="col-sm-2">Grupo</dt>
    <dd class="col-sm-10" th:text="${estudianteGrupo.grupo.nombre}"></dd>

  </dl>
  <form th:action="@{/estudianteGrupos/delete}" method="post">
    <input type="hidden" name="Id" th:value="${estudianteGrupo.id}">
    <input type="submit" value="Eliminar" class="btn btn-danger"> |
    <a th:href="@{/estudianteGrupos}">Regresar</a>

  </form>

</div>
</body>
</html>