<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">
<body>
<div layout:fragment="content">
  <h1>Detalles del Estudiante</h1>
  <h3>¿Está seguro que desea eliminar este registro?</h3>
  <hr/>
  <dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10" th:text="${estudiante.id}"></dd>

    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10" th:text="${estudiante.nombre}"></dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10" th:text="${estudiante.email}"></dd>

    <dt class="col-sm-2">Pin</dt>
    <dd class="col-sm-10" th:text="${estudiante.pin}"></dd>
  </dl>

  <form th:action="@{/estudiantes/delete}" method="post">
    <input type="hidden" name="Id" th:value="${estudiante.id}">
    <input type="submit" value="Eliminar" class="btn btn-danger"> |
    <a th:href="@{/estudiantes}">Cancelar</a>
  </form>
</div>
</body>
</html>
